.Container {
    text-align: center;
  }
  .Container-Section {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
  }
 .Container-Section p{
    background: black;
    padding: 5px 15px;
    border: 0;
    border-radius: 5px;
    margin: 5px;
 }
  
  